body {
    font-family: Arial, sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.content {
    padding: 20px;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 15px;
}
#bold{
    font-weight: bold;
}